<div class="test">
  <form [formGroup]="myForm" class="insideTest">
    <div class="insideTestTest">
      <label [ngClass]="{'errorLabel':myForm.get('email')?.errors}"><h6 class="to" *ngIf="myForm.get('email')?.errors">*</h6>E-mail:</label>
      <input [ngClass]="{'error':myForm.get('email')?.errors}" formControlName="email" type="email">
      <p *ngIf="myForm.get('email')?.errors">t</p>
    </div>
    <div class="insideTestTest">
      <label>Password:</label>
      <input formControlName="password" type="password">
    </div>
    <div class="insideTestTest">
      <label>Confirm Password:</label>
      <input type="password" (blur)="checkConfirmPassrod()" formControlName="confirmPassword">
    </div>

    <div class="insideTestTest">
      <label>Nickname:</label>
      <input type="text" formControlName="nickName">
    </div>
    <div class="insideTestTest">
      <label>Phone Number</label>
      <input type="text"  formControlName="phoneNumber">
    </div>
    <div class="insideTestTest">
      <label>Website</label>
      <input type="text" >
    </div>
  </form>
</div>
