<div class="test">
  <form class="insideTest">
    <div class="insideTestTest">
      <label>E-mail:</label>
      <input type="text">
    </div>
    <div class="insideTestTest">
      <label>Password:</label>
      <input type="text">
    </div>
    <div class="insideTestTest">
      <label>Confirm Password:</label>
      <input type="text">
    </div>
    <div class="insideTestTest">
      <label>Nickname:</label>
      <input type="text">
    </div>
    <div class="insideTestTest">
      <label>Phone Number</label>
      <input type="number">
    </div>
    <div class="insideTestTest">
      <label>Website</label>
      <input type="text">
    </div>
    <div class="insideTestTest">
      <div class="checkBox">
        <input type="checkbox">
        <label>I have read the agreement</label>
      </div>
    </div>
  </form>
</div>
